.button{
    width: 200px;
    height: 30px;
}
.button2{
    width: 200px;
    height: 30px;
}
.button3{
    width: 200px;
    height: 30px;
}
.box{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    padding-top: 10px;
}
.p{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
   margin-top: 400px;
    
}
.box2{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    padding-top: 10px;
}